<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
           version="3.1">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    
    <!--<servlet>-->
        <!--<servlet-name>HqServlet</servlet-name>-->
        <!--<servlet-class>com.hhq.web.HqServlet</servlet-class>-->
    <!--</servlet>-->
    <!--<servlet-mapping>-->
        <!--<servlet-name>HqServlet</servlet-name>-->
        <!--&lt;!&ndash;配置一个虚拟的访问路径&ndash;&gt;-->
        <!--<url-pattern>/servlet/HqServlet</url-pattern>-->
    <!--</servlet-mapping>-->

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.hhq.web.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HqHeaderServlet</servlet-name>
        <servlet-class>com.hhq.web.HqHeaderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HqHeaderServlet</servlet-name>
        <url-pattern>/header</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HqUploadServlet</servlet-name>
        <servlet-class>com.hhq.web.HqUploadServlet</servlet-class>
        <!--Servlet3.0通过配置multipart设置上传文件的路径-->
        <!--
        <multipart-config>
            <location>/Users</location>
        </multipart-config>
        -->
    </servlet>
    <servlet-mapping>
        <servlet-name>HqUploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>HqFindNameServlet</servlet-name>
        <servlet-class>com.hhq.web.HqServeltConfig.HqFindNameServlet</servlet-class>
        <init-param>
            <param-name>FIND_NAME_SUCCESS</param-name>
            <param-value>查找成功</param-value>
        </init-param>
        <init-param>
            <param-name>FIND_NAME_FAIL</param-name>
            <param-value>查找失败</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>HqFindNameServlet</servlet-name>
        <url-pattern>/findName</url-pattern>
    </servlet-mapping>

    <!--配置ServletContext初始化参数HqServletContextListener会得到此参数值-->
    <context-param>
        <param-name>CONTEXT_INIT_PARAM1</param-name>
        <param-value>context对象的第一个参数1</param-value>
    </context-param>


    <filter>
        <filter-name>HqEscapeFilter</filter-name>
        <filter-class>com.hhq.web.HqFilter.HqEscapeFilter</filter-class>
        <async-supported>true</async-supported>
    </filter>
    <filter-mapping>
        <filter-name>HqEscapeFilter</filter-name>
        <url-pattern>/leaveWord</url-pattern><!--//应用于对/leaveWord的请求-->
    </filter-mapping>
    


</web-app>
